<nav>
  <div class="inner nav-inner">
    <div class="nav-left">
      <a class="nav-logo" href="#">
        <img class="nav-logo-icon" src="assets/nav-icon.png" alt="" />
        ARES
      </a>
      <span class="nav-author">Abhi Jain, Ph.D.</span>
    </div>
    <ul>
      <li><a href="#projects">Projects</a></li>
      <li><a href="docs/AJain_Resume.pdf" target="_blank">Resume</a></li>
      <li><a href="https://github.com/abhi-kirk" target="_blank">GitHub</a></li>
      <li><a href="mailto:abhikirk@icloud.com">Contact</a></li>
    </ul>
  </div>
</nav>
